<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZGgdRdiC4jdT6YyoKn4HCCgMvr3skOcA</string>
	<key>GCM_SENDER_ID</key>
	<string>953706873991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindMap</string>
	<key>PROJECT_ID</key>
	<string>mindmap3-3b889</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmap3-3b889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953706873991:ios:5d1f7e8b3fe590accfe422</string>
</dict>
</plist>